@media (min-width: 1200px) {
    .container {
        max-width: 1326px !important;
    }

    .container.project .col {
        padding-right: 50px;
    }
    
}

@media screen and (max-width: 767px) {
    .project .col-md-5 {
        margin-top: 2rem;
    }
    .container.main {
        margin-top: 30vh;
    }
    .project {
        .tech-container {
            img {
                height: 34px;
            }
        }
    }
    .container-jumbo {
        margin-top: -10px;
        width: 100%;
        left: initial;

        .wave {
            height: 100px;
            width: 100px;
        }
    }
}